# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# git clone <url>
# ls
# git add .\test.js
# git status
# git commit -m "any message"
# git push
# git pull
# git commit -am "any message"
# git reset --hard <commit hash>
# git reset --hard origin/master
# git branch                    to list the branches
# git checkout -b "<new branch name>"
# git checkout <existing branch name> to switch the branch
# git merge <branch name>


# to upload react project in github

# step 1 (terminal)
# npm install gh-pages --save-dev

# step 2 
# create github repository to get the url

# step 3 (terminal)
# git remote rm origin
# git remote add origin <repository url> url ex : https://github.com/<username>/<rep Name>.git

# optional steps
# git push -u origin main 
# npm install gh-pages --save-dev

# step 3
# go to package.json-> next to version, private key add below
# "homepage" : "https://gitidnathan.github.io/react_1",
# under package section add below keys
# "predeploy" : "npm run build",
# "deploy" : "gh.pages -d build"

# step 4 (terminal)
# npm run deploy

# https://www.geeksforgeeks.org/
# https://www.pragimtech.com/courses/react-js-tutorial-for-beginners/
# https://www.pragimtech.com/blog/reactjs/introduction-to-react-elements/

# to install node modules
# npm i node-modules